<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Contacts.Contacts" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="23" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<application android:theme="@style/MyTheme" android:icon="@drawable/Icon" android:label="Contacts">&gt;
    
  </application>
</manifest>